/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* Material Design Global Styles */
md-toolbar-row {
  justify-content: space-between;
}
